*{
    margin: 0;
    padding: 0;
}
#mainContainer .text-center{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px 5px 5px 5px;
    font-weight: bolder;
}
#mainContainer .typecode{
    margin-top: 5px;
    font-weight: bolder;
}
#mainContainer .typename{
    margin-top: 5px;
    font-weight: bolder;
}
#mainContainer .typeprice{
    font-weight: bolder;
    margin-top: 5px;
}
#mainContainer .typephoto{
    font-weight: bolder;
}
